.justify-content-between{
  display: flex;
  justify-content: space-between;
}
.logo{
  text-transform: uppercase;
  font-weight: bold;
}
.allCards{
  padding: 10px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.card-container{
  display: inline-block;
  border: 4px solid black;
  border-radius: 5%;
  padding: 10px 20px;
  text-align: left;
  cursor: move;
  margin: 10px;
}

.card-container.over {
  border: 3px dotted #666;
}
.select-container{
  height: 30px;
  width: 200px;
}
.filter-form{
  padding: 20px;
}
.filter-container{
  display: none;
  text-align: center;
}
.card-id{
  text-align: center;
  margin: 0;
  font-weight: 700;
}
.info-hidden{
  width: 230px;
  height: 110px;
  overflow: hidden;
  margin-top: 5px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toggle{
  height: auto;
}
.noItemsAdded{
  text-transform: uppercase;
  text-align: center;
  padding: 100px;
  font-size: 35px;
}
.disable{
  display: none;
}
.label-margin{
  margin: 0;
}
.card-input{
  /*width: 136px;*/
  width: 180px;
}
.btn-success, .btn-warning{
  width: 70px;
}